{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section">
    <div class="container">
      <div class="row gx-6">
        <!-- blog posts -->
      
          <div class="row">
            {{ $paginator:= .Paginate .RegularPages }}
            {{ range $paginator.Pages }}
              <div class="md:col-6 mb-12">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
          {{ partial "components/pagination.html" . }}
   

      </div>
    </div>
  </section>

  {{ if site.Params.google_map.enable }}
{{ $gmap:= resources.Get "plugins/maps/google-map.js" }}
<script defer src="{{ $gmap.RelPermalink }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ site.Params.google_map.map_api_key }}&libraries=places"></script>
{{ end }}

{{ end }}
